Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations

revert devcontainer name + crd->cr reference
  .devcontainer/devcontainer.json
  internal/controller/datadoggenericcr_controller.go
Owners: @DataDog/container-ecosystems, @DataDog/container-platform

remove redundant conversion
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
Owners: @DataDog/container-ecosystems

check 80% of integrations being tailed
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

[PROCS-4000] Update CRD to add new `ProcessChecksInCoreAgentEnabled` option in `global` section (#1455)
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/apm/feature.go
  internal/controller/datadogagent/feature/apm/feature_test.go
  internal/controller/datadogagent/feature/livecontainer/feature.go
  internal/controller/datadogagent/feature/livecontainer/feature_test.go
  internal/controller/datadogagent/feature/liveprocess/feature.go
  internal/controller/datadogagent/feature/liveprocess/feature_test.go
  internal/controller/datadogagent/feature/processdiscovery/feature.go
  internal/controller/datadogagent/feature/processdiscovery/feature_test.go
  internal/controller/datadogagent/feature/types.go
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

nit
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

fix ci
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
Owners: @DataDog/container-ecosystems

add container image override and utilize for fips config
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/fips.go
  internal/controller/datadogagent/override/fips_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

fix names
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent_controller.go
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems

Add pod logs e2e test (#1491)
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  test/e2e/kind_test.go
  test/e2e/manifests/datadog-agent-logs.yaml
Owners: @DataDog/container-ecosystems

allow forwarder to be used by all controllers (#1514)
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent_controller.go
  internal/controller/setup.go
  pkg/controller/utils/datadog/forwarders_manager.go
  pkg/controller/utils/datadog/metrics_forwarder.go
  pkg/controller/utils/datadog/metrics_forwarder_test.go
Owners: @DataDog/container-ecosystems

Use same instance label value for network policies (#1509)
  internal/controller/datadogagent/component/objects/network.go
Owners: @DataDog/container-ecosystems

small logic update
  internal/controller/datadogagent/override/fips.go
Owners: @DataDog/container-ecosystems

Supporting startupProbe in operator
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/container_test.go
  internal/controller/testutils/agent.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

fix lint
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

Fix lints and typos
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/override/container_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

update crd and docs
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

feat(admission controller): Add new webhook settings
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
  internal/controller/datadogagent/feature/admissioncontroller/feature_test.go
  internal/controller/datadogagent/feature/types.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation, @DataDog/container-platform

chore: rename parameters
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation, @DataDog/container-platform

move processing of labels and annotations as tags (#1522)
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/enabledefault/rbac.go
  internal/controller/datadogagent/feature/enabledefault/rbac_test.go
  internal/controller/datadogagent/override/global.go
  internal/controller/datadogagent/override/rbac.go
Owners: @DataDog/container-ecosystems

Add validation that jsonSpec is not empty + unit test validation
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
  api/datadoghq/v1alpha1/datadoggenericcr_validation_test.go
Owners: @DataDog/container-ecosystems

kustomize datadoggenericcr
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_datadoghq_datadoggenericcrs.yaml
  config/crd/patches/webhook_in_datadoghq_datadoggenericcrs.yaml
  config/rbac/datadoghq_datadoggenericcr_editor_role.yaml
  config/rbac/datadoghq_datadoggenericcr_viewer_role.yaml
  config/samples/datadoghq_v1alpha1_datadoggenericcr.yaml
  config/samples/kustomization.yaml
Owners: @DataDog/container-ecosystems

add allowmap for container image overrides
  api/datadoghq/common/types.go
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems

unit test finalizer - need to mock API to go further
  internal/controller/datadoggenericcr/finalizer_test.go
Owners: @DataDog/container-ecosystems

Updating container override tests
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/container_test.go
Owners: @DataDog/container-ecosystems

Add network policies for admission controller feature (#1515)
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
Owners: @DataDog/container-platform

[CONTP-508] Supporting startupProbe in operator (#1536)
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/container_test.go
  internal/controller/testutils/agent.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

add test case
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems

finalizer test
  internal/controller/datadoggenericcr/finalizer_test.go
  internal/controller/datadoggenericcr/utils.go
Owners: @DataDog/container-ecosystems

init fake client store with test objects instead of using create
  internal/controller/datadogmonitor/finalizer_test.go
Owners: @DataDog/container-ecosystems

add allowmap for container image overrides (#1537)
  api/datadoghq/common/types.go
  internal/controller/datadogagent/override/container.go
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems

feat(admission controller): Add new webhook settings (#1461)
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
  internal/controller/datadogagent/feature/admissioncontroller/feature_test.go
  internal/controller/datadogagent/feature/types.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation, @DataDog/container-platform

release v1.11.0-rc.1
  bundle-community-operators/manifests/datadog-operator-webhook-service_v1_service.yaml
  bundle-community-operators/manifests/datadog-operator.clusterserviceversion.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagentprofiles.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagents.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogdashboards.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmetrics.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmonitors.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogpodautoscalers.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogslos.yaml
  bundle-community-operators/metadata/annotations.yaml
  bundle-community-operators/tests/scorecard/config.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/datadog-operator.clusterserviceversion.yaml
Owners: @DataDog/container-ecosystems

update default fips-proxy image version to 1.1.6
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

update default fips-proxy image version to 1.1.6 (#1540)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

release v1.11.0-rc.1 (#1539)
  bundle-community-operators/manifests/datadog-operator-webhook-service_v1_service.yaml
  bundle-community-operators/manifests/datadog-operator.clusterserviceversion.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagentprofiles.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagents.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogdashboards.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmetrics.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmonitors.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogpodautoscalers.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogslos.yaml
  bundle-community-operators/metadata/annotations.yaml
  bundle-community-operators/tests/scorecard/config.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/datadog-operator.clusterserviceversion.yaml
Owners: @DataDog/container-ecosystems

use generated GITHUB_TOKEN for authentication
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

fix whitespace
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

[tooling] use generated GITHUB_TOKEN for authentication (#1541)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

Add Local as valid type for autoscaler source
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
Owners: @DataDog/container-ecosystems

[tooling] use generated GITHUB_TOKEN for authentication (#1541)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems
