Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations

rename clusterRole
  internal/controller/datadogagent/component/clusteragent/utils.go
Owners: @DataDog/container-ecosystems

Revert go.mod back and fix errors
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  go.mod
  go.sum
  go.work.sum
  pkg/remoteconfig/updater.go
Owners: @DataDog/container-ecosystems

expose kubernetes_resources_labels/annotations_as_tags (#1379)
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/component/clusteragent/utils.go
  internal/controller/datadogagent/override/global.go
  internal/controller/datadogagent/override/rbac.go
  internal/controller/datadogagent/override/rbac_test.go
  internal/controller/testutils/agent.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

cleanup psp
  internal/controller/datadogagent/feature/cspm/const.go
  internal/controller/datadogagent/feature/cspm/feature.go
  internal/controller/datadogagent/feature/types.go
  internal/controller/datadogagent/merger/pod_security.go
  internal/controller/datadogagent/merger/pod_security_test.go
Owners: @DataDog/container-ecosystems

release v1.10.0-rc.1
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/datadog-operator.clusterserviceversion.yaml
Owners: @DataDog/container-ecosystems

Go.sum update
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogdashboards.yaml
  config/crd/bases/v1/datadoghq.com_datadogmetrics.yaml
  config/crd/bases/v1/datadoghq.com_datadogmonitors.yaml
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1/datadoghq.com_datadogslos.yaml
  go.mod
  go.sum
Owners: @DataDog/container-ecosystems

Test skopeo build in gitlab ci
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

Update openshift preflight version
  Makefile
Owners: @DataDog/container-ecosystems

fix go.work
  go.work
Owners: @DataDog/container-ecosystems

fix go.work
  .gitlab-ci.yml
  go.work
Owners: @DataDog/container-ecosystems

[gitlab] fix condition to run release candidate workflow
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

[gitlab] fix condition to run release candidate workflow (#1462)
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

fix the operator creating a single configmap for all 3 agent/clusteragent/ccr
  internal/controller/datadogagent/override/dependencies.go
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems

Fix CiliumNetworkPolicy not updating properly (#1457)
  internal/controller/datadogagent/store/store.go
Owners: @DataDog/container-ecosystems

more cleanup
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/datadogagent/feature/cspm/rbac.go
  internal/controller/datadogagent_controller.go
  pkg/equality/equality.go
  pkg/kubernetes/const.go
  pkg/kubernetes/objects.go
  pkg/kubernetes/objectslist.go
  pkg/kubernetes/platforminfo.go
  pkg/kubernetes/platforminfo_test.go
  pkg/kubernetes/rbac/const.go
Owners: @DataDog/container-ecosystems

this will get automatically updated instead
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
Owners: @DataDog/container-ecosystems

[cleanup] remove unused Pod Security Policy (#1459)
  config/rbac/role.yaml
  internal/controller/datadogagent/feature/cspm/const.go
  internal/controller/datadogagent/feature/cspm/feature.go
  internal/controller/datadogagent/feature/cspm/rbac.go
  internal/controller/datadogagent/feature/types.go
  internal/controller/datadogagent/merger/pod_security.go
  internal/controller/datadogagent/merger/pod_security_test.go
  internal/controller/datadogagent_controller.go
  pkg/equality/equality.go
  pkg/kubernetes/const.go
  pkg/kubernetes/objects.go
  pkg/kubernetes/objectslist.go
  pkg/kubernetes/platforminfo.go
  pkg/kubernetes/platforminfo_test.go
  pkg/kubernetes/rbac/const.go
Owners: @DataDog/container-ecosystems

remove psp reference
  pkg/kubernetes/platforminfo_test.go
Owners: @DataDog/container-ecosystems

remove psp from test
  pkg/kubernetes/platforminfo_test.go
Owners: @DataDog/container-ecosystems

[cleanup] remove Pod Security Policy from platforminfo_test
  pkg/kubernetes/platforminfo_test.go
Owners: @DataDog/container-ecosystems

simplify the host port configuration logic
  internal/controller/datadogagent/feature/otlp/feature.go
Owners: @DataDog/container-ecosystems

fix the operator creating a single configmap for all 3 agent/clusteragent/ccr (#1443)
  internal/controller/datadogagent/override/dependencies.go
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems

Include ports for networkpolicy or ciliumnetworkpolicy for OTLP ingest (#1452)
  internal/controller/datadogagent/feature/otlp/feature.go
Owners: @DataDog/container-ecosystems

service discovery: Add mount
  internal/controller/datadogagent/feature/servicediscovery/feature.go
Owners: @DataDog/container-ecosystems

Fixed tests
  internal/controller/datadogagent/feature/servicediscovery/feature_test.go
Owners: @DataDog/container-ecosystems

[CONTINT-4412] Upgrade `k8s` dependencies
  .gitlab-ci.yml
  LICENSE-3rdparty.csv
  Makefile
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  api/k8s.io/policy/v1beta1/doc.go
  api/k8s.io/policy/v1beta1/register.go
  api/k8s.io/policy/v1beta1/types.go
  api/k8s.io/policy/v1beta1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogdashboards.yaml
  config/crd/bases/v1/datadoghq.com_datadogmetrics.yaml
  config/crd/bases/v1/datadoghq.com_datadogmonitors.yaml
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1/datadoghq.com_datadogslos.yaml
  config/rbac/role.yaml
  docs/configuration.v2alpha1.md
  go.mod
  go.sum
  go.work.sum
  internal/controller/datadogagent/controller_reconcile_agent_test.go
  internal/controller/datadogagent/controller_reconcile_ccr_test.go
  internal/controller/datadogagent/controller_reconcile_dca_test.go
  internal/controller/datadogagent/controller_reconcile_v2_test.go
  internal/controller/datadogagent/merger/pod_security.go
  internal/controller/datadogagent/store/store_test.go
  internal/controller/datadogagent/testutils/client_utils.go
  pkg/equality/equality.go
  pkg/kubernetes/objects.go
  pkg/kubernetes/objectslist.go
  pkg/plugin/common/client.go
  pkg/remoteconfig/updater.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

fix(kustomize): set correct image name and tag
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

Do not log error if sync variable is not set
  internal/controller/datadogmonitor/controller.go
Owners: @DataDog/container-ecosystems

Do not log error if sync variable is not set (#1466)
  internal/controller/datadogmonitor/controller.go
Owners: @DataDog/container-ecosystems

fix(kustomize): set correct image name and tag (#1465)
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

Implement label and annotation equality checking
  pkg/equality/equality.go
  pkg/equality/equality_test.go
Owners: @DataDog/container-ecosystems

cleanup v1beta1 version of pdb
  internal/controller/datadogagent_controller.go
  pkg/kubernetes/objects.go
  pkg/kubernetes/objectslist.go
  pkg/kubernetes/platforminfo.go
  pkg/kubernetes/platforminfo_test.go
Owners: @DataDog/container-ecosystems

remove another v1beta1 pdb reference
  pkg/equality/equality.go
Owners: @DataDog/container-ecosystems

Do not log error if sync variable is not set (#1466)
  internal/controller/datadogmonitor/controller.go
Owners: @DataDog/container-ecosystems

Do not log error if sync variable is not set (#1466) (#1469)
  internal/controller/datadogmonitor/controller.go
Owners: @DataDog/container-ecosystems

feat(admission controller): Add new webhook settings
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
  internal/controller/datadogagent/feature/admissioncontroller/feature_test.go
  internal/controller/datadogagent/feature/types.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation, @DataDog/container-platform

Update pkg/equality/equality_test.go
  pkg/equality/equality_test.go
Owners: @DataDog/container-ecosystems

Implement label and annotation equality checking (#1467)
  pkg/equality/equality.go
  pkg/equality/equality_test.go
Owners: @DataDog/container-ecosystems

Implement label and annotation equality checking (#1467)
  pkg/equality/equality.go
  pkg/equality/equality_test.go
Owners: @DataDog/container-ecosystems

Implement label and annotation equality checking (#1467) (#1470)
  pkg/equality/equality.go
  pkg/equality/equality_test.go
Owners: @DataDog/container-ecosystems
