Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

update default fips-proxy image version to 1.1.6 (#1540)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

utils unit test
  internal/controller/datadoggenericcr/utils.go
  internal/controller/datadoggenericcr/utils_test.go
Owners: @DataDog/container-ecosystems

controller unit test
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
  internal/controller/datadoggenericcr/controller_test.go
  internal/controller/datadoggenericcr/utils.go
Owners: @DataDog/container-ecosystems

notebook utils unit tedt
  internal/controller/datadoggenericcr/notebooks_test.go
Owners: @DataDog/container-ecosystems

more unit tests and support synthetics_api_test
  api/datadoghq/v1alpha1/datadoggenericcr_types.go
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
  internal/controller/datadoggenericcr/synthetics.go
  internal/controller/datadoggenericcr/utils.go
  internal/controller/datadoggenericcr/utils_test.go
Owners: @DataDog/container-ecosystems

re-order alphabetically
  api/datadoghq/v1alpha1/datadoggenericcr_types.go
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
Owners: @DataDog/container-ecosystems

resolve conflict before merging main
  cmd/main.go
  config/manager/kustomization.yaml
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems

resolve kustomization conflict
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

implement runtimeclassname override
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

implement runtimeclassname in dap
  api/datadoghq/v1alpha1/datadogagentprofile_types.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles_v1alpha1.json
  docs/datadog_agent_profiles.md
  pkg/agentprofile/agent_profile.go
  pkg/agentprofile/agent_profile_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

[tooling] use generated GITHUB_TOKEN for authentication (#1541) (#1542)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

update default fips-proxy image version to 1.1.6 (#1540) (#1543)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

comment lots of stuff to simplify dev
  test/e2e/kind_test.go
  test/e2e/rc_updater_test.go
Owners: @DataDog/container-ecosystems

kuttl and chainsaw testing
  test/e2e/chainsaw/chainsaw-test.yaml
  test/e2e/chainsaw/configmap.yaml
  test/e2e/chainsaw/dda.yaml
  test/e2e/kuttl/example-test/01-assert.yaml
  test/e2e/kuttl/example-test/01-install.yaml
  test/e2e/kuttl/example-test/02-assert.yaml
  test/e2e/kuttl/example-test/02-install.yaml
  test/e2e/kuttl/example-test/03-assert-basic.yaml
  test/e2e/kuttl/example-test/03-assert.yaml
  test/e2e/kuttl/example-test/deployment.yaml
  test/e2e/kuttl/kuttl-test.yaml
Owners: @DataDog/container-ecosystems

add localkind provisioner
  config/e2e/e2e-manager.yaml
  config/e2e/kustomization.yaml
  go.mod
  go.sum
  go.work.sum
  test/e2e/Pulumi.yaml
  test/e2e/common/common.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/kind_test.go
  test/e2e/manifests/autodiscovery-annotation.yaml
  test/e2e/manifests/datadog-agent-ccr-enabled.yaml
  test/e2e/manifests/datadog-agent-logs.yaml
  test/e2e/manifests/datadog-agent-minimum.yaml
  test/e2e/provisioners/local_kind.go
  test/e2e/rc-updater/common.go
  test/e2e/tests/kind_aws_test.go
  test/e2e/tests/kind_local_test.go
  test/e2e/tests/kind_test.go
  test/e2e/tests/rc_updater_test.go
Owners: @DataDog/container-ecosystems

refactor logs test
  test/e2e/manifests/datadog-agent-logs.yaml
  test/e2e/tests/kind_local_test.go
  test/e2e/tests/kind_test.go
Owners: @DataDog/container-ecosystems

hacky orchestrion test
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .gitlab-ci.yml
  Dockerfile
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  check-operator.Dockerfile
  config/manager/kustomization.yaml
  go.mod
  go.sum
  go.work
  go.work.sum
  orchestrion.tool.go
  test/e2e/go.mod
  test/e2e/go.sum
Owners: @DataDog/container-ecosystems, @DataDog/container-platform

Remove default setting of stabilization window seconds to 0
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
Owners: @DataDog/container-ecosystems

Add Local as valid type for autoscaler source (#1513)
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
Owners: @DataDog/container-ecosystems

Update minimum stabilization window seconds to 0
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
Owners: @DataDog/container-ecosystems

initial kubectl-datadog dap commit
  cmd/kubectl-datadog/dap/dap.go
  cmd/kubectl-datadog/dap/find/find.go
  cmd/kubectl-datadog/dap/find/profile/profile.go
  cmd/kubectl-datadog/dap/list/list.go
  cmd/kubectl-datadog/dap/list/node/node.go
  cmd/kubectl-datadog/datadog/datadog.go
  pkg/plugin/common/options.go
Owners: @DataDog/container-ecosystems

make command for a specific e2e test
  Makefile
  test/e2e/tests/kind_test.go
Owners: @DataDog/container-ecosystems

apm e2e test and un-comment for dev
  test/e2e/kind_test.go
  test/e2e/manifests/apm/datadog-agent-apm.yaml
  test/e2e/manifests/apm/tracegen-deploy.yaml
  test/e2e/rc_updater_test.go
Owners: @DataDog/container-ecosystems

add back old provisioner
  config/e2e/e2e-manager.yaml
  config/e2e/kustomization.yaml
  config/new-e2e/kustomization.yaml
  go.work.sum
  test/e2e/common.go
  test/e2e/kind_test.go
  test/e2e/manifests/autodiscovery-annotation.yaml
  test/e2e/manifests/datadog-agent-ccr-enabled.yaml
  test/e2e/manifests/datadog-agent-logs.yaml
  test/e2e/rc_updater_test.go
  test/e2e/tests/kind_local_test.go
  test/new-e2e/common/common.go
  test/new-e2e/kind_local_test.go
  test/new-e2e/kind_test.go
  test/new-e2e/manifests/autodiscovery-annotation.yaml
  test/new-e2e/manifests/datadog-agent-ccr-enabled.yaml
  test/new-e2e/manifests/datadog-agent-logs.yaml
  test/new-e2e/manifests/datadog-agent-minimum.yaml
  test/new-e2e/manifests/datadog-agent-rc-updater.yaml
  test/new-e2e/provisioners/kind.go
Owners: @DataDog/container-ecosystems

wip
  test/new-e2e/kind_aws_test.go
Owners: @DataDog/container-ecosystems

update command to use env var
  Makefile
Owners: @DataDog/container-ecosystems

doc review
  api/datadoghq/v1alpha1/datadogagentprofile_types.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

First rc_updater_test commit - tbt
  test/e2e/tests/rc_updater_test.go
Owners: @DataDog/container-ecosystems

rc_updater todos
  test/e2e/manifests/datadog-agent-rc-updater.yaml
  test/e2e/tests/rc_updater_kind_local_test.go
  test/e2e/tests/rc_updater_test.go
Owners: @DataDog/container-ecosystems

create new go module for crds
  api/go.mod
  api/go.sum
  go.work
Owners: @DataDog/container-ecosystems

reorganize tests
  Makefile
  config/e2e/e2e-manager.yaml
  config/e2e/kustomization.yaml
  config/e2e/rc-e2e-manager.yaml
  config/new-e2e/kustomization.yaml
  go.mod
  go.sum
  go.work
  go.work.sum
  test/e2e/common.go
  test/e2e/common/common.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/kind_test.go
  test/e2e/main.go
  test/e2e/manifests/autodiscovery-annotation.yaml
  test/e2e/manifests/datadog-agent-ccr-enabled.yaml
  test/e2e/manifests/datadog-agent-logs.yaml
  test/e2e/provisioners/common.go
  test/e2e/provisioners/kind.go
  test/e2e/provisioners/kindProvisioner.go
  test/e2e/tests/k8sSuite/k8sSuite_test.go
  test/e2e/tests/k8sSuite/kind_local_test.go
  test/e2e/tests/updaterSuite/rc-updater/api/client.go
  test/e2e/tests/updaterSuite/rc-updater/api/ddsql.go
  test/e2e/tests/updaterSuite/rc-updater/api/updater.go
  test/e2e/tests/updaterSuite/rc-updater/common.go
  test/e2e/tests/updaterSuite/rc_updater_test.go
  test/e2e/tests/utils/utils.go
  test/new-e2e/common/common.go
  test/new-e2e/manifests/autodiscovery-annotation.yaml
  test/new-e2e/manifests/datadog-agent-ccr-enabled.yaml
  test/new-e2e/manifests/datadog-agent-logs.yaml
  test/new-e2e/manifests/datadog-agent-minimum.yaml
  test/new-e2e/manifests/datadog-agent-rc-updater.yaml
Owners: @DataDog/container-ecosystems

"working" e2e rc test
  test/e2e/tests/rc_updater_kind_local_test.go
  test/e2e/tests/rc_updater_test.go
Owners: @DataDog/container-ecosystems

remove global.clusterName
  test/e2e/manifests/datadog-agent-rc-updater.yaml
Owners: @DataDog/container-ecosystems

release v1.11.0-rc.2
  bundle-community-operators/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

fixup! Update minimum stabilization window seconds to 0
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

release v1.11.0-rc.2 (#1550)
  bundle-community-operators/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

Remove kube-rbac-proxy image
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_metrics_patch.yaml
  config/default/metrics_service.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_auth_role.yaml
  config/rbac/metrics_auth_role_binding.yaml
  config/rbac/metrics_reader_role.yaml
  config/test-v1/kustomization.yaml
  config/test-v1/manager_auth_proxy_patch.yaml
  go.mod
  go.sum
Owners: @DataDog/container-ecosystems

add parameter for testing go module
  api/datadoghq/v2alpha1/datadogagent_types.go
Owners: @DataDog/container-ecosystems

Run verify-licenses
  LICENSE-3rdparty.csv
Owners: @DataDog/container-ecosystems

remove test string
  api/datadoghq/v2alpha1/datadogagent_types.go
Owners: @DataDog/container-ecosystems

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations
