Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

add new api module dependency
  go.mod
  go.sum
Owners: @DataDog/container-ecosystems

reference go module in makefile
  Makefile
Owners: @DataDog/container-ecosystems

Support runtimeClassName override (including in DAP) (#1546)
  api/datadoghq/v1alpha1/datadogagentprofile_types.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  docs/datadog_agent_profiles.md
  internal/controller/datadogagent/override/podtemplatespec.go
  internal/controller/datadogagent/override/podtemplatespec_test.go
  pkg/agentprofile/agent_profile.go
  pkg/agentprofile/agent_profile_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

Notes about DDogAS CRD
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers_v1alpha1.json
Owners: @DataDog/container-ecosystems

Add core agent and error tracking standalone settings
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/component/clusterchecksrunner/default.go
  internal/controller/datadogagent/feature/apm/feature.go
  internal/controller/datadogagent/override/global.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

Simplify bool condition
  internal/controller/datadogagent/feature/apm/feature.go
Owners: @DataDog/container-ecosystems

add comment to test field
  api/datadoghq/v2alpha1/datadogagent_types.go
Owners: @DataDog/container-ecosystems

bump test module version
  go.mod
  go.sum
  go.work
Owners: @DataDog/container-ecosystems

updated makefile
  Makefile
Owners: @DataDog/container-ecosystems

secrets doc revamp 1.11
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

move metrics forwarder conditions and incorporate error type
  api/datadoghq/v1alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/condition.go
  pkg/controller/utils/datadog/metrics_forwarder.go
Owners: @DataDog/container-ecosystems

move metrics forwarder conditions and incorporate error type (#1557)
  api/datadoghq/v1alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/condition.go
  pkg/controller/utils/datadog/metrics_forwarder.go
Owners: @DataDog/container-ecosystems

OTel Agent Feature Support
  Makefile
  api/datadoghq/v2alpha1/const.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  config/manager/kustomization.yaml
  configmap.yaml
  docs/configuration.v2alpha1.md
  examples/datadogagent/datadog-agent-minimum.yaml
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/ids.go
  internal/controller/datadogagent/feature/otelagent/configmap_test.go
  internal/controller/datadogagent/feature/otelagent/defaultconfig/defaultconfig.go
  internal/controller/datadogagent/feature/otelagent/feature.go
  internal/controller/datadogagent/feature/otelagent/feature_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

docs review
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

update test
  api/datadoghq/v2alpha1/test/builder.go
  internal/controller/datadogagent/feature/otelagent/feature_test.go
Owners: @DataDog/container-ecosystems

add port documentation
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  config/manager/kustomization.yaml
  docs/configuration.v2alpha1.md
  examples/datadogagent/datadog-agent-minimum.yaml
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/feature/otelagent/feature.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

remove flag support
  cmd/main.go
  config/manager/kustomization.yaml
  examples/datadogagent/datadog-agent-minimum.yaml
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/test/factory_test.go
  internal/controller/datadogagent/feature/types.go
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems

add examples
  examples/datadogagent/datadog-agent-minimum.yaml
  examples/datadogagent/datadog-agent-with-otel-agent-configmap.yaml
  examples/datadogagent/datadog-agent-with-otel-agent.yaml
  internal/controller/datadogagent/feature/otelagent/feature.go
Owners: @DataDog/container-ecosystems

fix
  Makefile
  internal/controller/datadogagent/feature/otelagent/feature.go
  internal/controller/datadogagent/feature/otelagent/feature_test.go
Owners: @DataDog/container-ecosystems

fix examples
  examples/datadogagent/datadog-agent-with-otel-agent-configmap.yaml
  examples/datadogagent/datadog-agent-with-otel-agent.yaml
Owners: @DataDog/container-ecosystems

fix
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

fix test
  api/datadoghq/v2alpha1/test/builder.go
  internal/controller/datadogagent/feature/otelagent/feature_test.go
Owners: @DataDog/container-ecosystems

test job
  .gitlab-ci.yml
  bundle-community-operators/manifests/datadog-operator-webhook-service_v1_service.yaml
  bundle-community-operators/manifests/datadog-operator.clusterserviceversion.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagentprofiles.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogagents.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogdashboards.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmetrics.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogmonitors.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogpodautoscalers.yaml
  bundle-community-operators/manifests/datadoghq.com_datadogslos.yaml
  bundle-community-operators/metadata/annotations.yaml
  bundle-community-operators/tests/scorecard/config.yaml
  hack/publish-community-bundles.sh
Owners: @DataDog/container-ecosystems

add hostname
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

remove gh auth refresh
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

fix bundle name for rh-certified PRs (#1527)
  hack/publish-community-bundles.sh
Owners: @DataDog/container-ecosystems

fix bundle name for rh-certified PRs (#1527)
  hack/publish-community-bundles.sh
Owners: @DataDog/container-ecosystems

rename feature from otelAgent to otelCollector
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  docs/configuration.v2alpha1.md
  examples/datadogagent/datadog-agent-with-otel-agent-configmap.yaml
  examples/datadogagent/datadog-agent-with-otel-agent.yaml
Owners: @DataDog/container-ecosystems, @DataDog/documentation

rename
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  internal/controller/datadogagent/feature/otelagent/configmap_test.go
  internal/controller/datadogagent/feature/otelagent/feature.go
  internal/controller/datadogagent/feature/otelagent/feature_test.go
Owners: @DataDog/container-ecosystems

rename directory/ pkg
  api/datadoghq/v2alpha1/test/builder.go
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/otelcollector/configmap_test.go
  internal/controller/datadogagent/feature/otelcollector/defaultconfig/defaultconfig.go
  internal/controller/datadogagent/feature/otelcollector/feature.go
  internal/controller/datadogagent/feature/otelcollector/feature_test.go
Owners: @DataDog/container-ecosystems

undo change to InitConfig volumes
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

remove unrelated changes
  config/manager/kustomization.yaml
  examples/datadogagent/datadog-agent-minimum.yaml
Owners: @DataDog/container-ecosystems

add empty line
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

add otel collector feature to Test_defaultFeatures
  api/datadoghq/v2alpha1/datadogagent_default_test.go
Owners: @DataDog/container-ecosystems

Update docs/secret_management.md
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Update docs/secret_management.md
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Update docs/secret_management.md
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Update docs/secret_management.md
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Update docs/secret_management.md
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

capitalize k8s Secrets
  docs/secret_management.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations
