Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-integrations, @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-integrations @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-integrations @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-integrations @DataDog/container-ecosystems

[profiles] Improve DAP name length error (#1254)
  pkg/agentprofile/agent_profile.go
  pkg/agentprofile/agent_profile_test.go
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems

Override env vars with profiles (#1256)
  apis/datadoghq/v1alpha1/datadogagentprofile_types.go
  apis/datadoghq/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagentprofiles.yaml
  controllers/datadogagent_controller_v2_profiles_test.go
  pkg/agentprofile/agent_profile.go
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems

add namespaceAnnotationsAsTags
  apis/datadoghq/common/envvar.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_agent.go
  apis/datadoghq/v1alpha1/datadogagent_default_test.go
  apis/datadoghq/v1alpha1/datadogagent_types.go
  apis/datadoghq/v1alpha1/testdata/all.expected.yaml
  apis/datadoghq/v1alpha1/testdata/all.yaml
  apis/datadoghq/v1alpha1/zz_generated.deepcopy.go
  apis/datadoghq/v1alpha1/zz_generated.openapi.go
  apis/datadoghq/v2alpha1/datadogagent_types.go
  apis/datadoghq/v2alpha1/zz_generated.deepcopy.go
  bundle/manifests/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/controller_test.go
  controllers/datadogagent/override/global.go
  controllers/datadogagent/utils.go
  controllers/datadogagent/utils_test.go
  controllers/testutils/agent.go
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems, @DataDog/documentation

Update docs/configuration.v2alpha1.md
  docs/configuration.v2alpha1.md
Owners: @DataDog/documentation, @DataDog/container-integrations, @DataDog/container-ecosystems

remove v1alpha and bundle/manifests
  apis/datadoghq/v1alpha1/datadogagent_conversion_agent.go
  apis/datadoghq/v1alpha1/datadogagent_default_test.go
  apis/datadoghq/v1alpha1/testdata/all.expected.yaml
  apis/datadoghq/v1alpha1/testdata/all.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  go.work.sum
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems, @DataDog/documentation

Fix the otel-agent command path and add a comment where OTel agent container is being added
  controllers/datadogagent/component/agent/default.go
  controllers/datadogagent/feature/enabledefault/feature.go
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems

fix config path
  apis/datadoghq/common/const.go
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems

Bump default Agent version to 7.55
  pkg/defaulting/images.go
Owners: @DataDog/container-integrations, @DataDog/container-ecosystems
