Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

code fixes
  api/datadoghq/v2alpha1/datadogagent_types.go
  internal/controller/datadogagent/component/clusteragent/default.go
  internal/controller/datadogagent/component/clusteragent/default_test.go
  internal/controller/datadogagent/component/clusteragent/utils.go
  internal/controller/datadogagent/component/clusterchecksrunner/default.go
  internal/controller/datadogagent/component/clusterchecksrunner/default_test.go
Owners: @DataDog/container-ecosystems

[DatadogAgent][Flare] Additional environment variables and RBAC to permit user manifests retrieval (#1477)
  internal/controller/datadogagent/feature/enabledefault/const.go
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/enabledefault/rbac.go
  internal/controller/datadogagent/feature/enabledefault/utils.go
  internal/controller/datadogagent/feature/enabledefault/utils_test.go
  pkg/kubernetes/rbac/const.go
Owners: @DataDog/container-ecosystems

fix error logging
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  internal/controller/datadogagent/override/dependencies.go
Owners: @DataDog/container-ecosystems

release v1.10.0-rc.4 (#1512)
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

allow forwarder to be used by all controllers
  internal/controller/datadogagent_controller.go
  internal/controller/setup.go
  pkg/controller/utils/datadog/forwarders_manager.go
  pkg/controller/utils/datadog/metrics_forwarder.go
Owners: @DataDog/container-ecosystems

Add network policies for admission controller feature
  internal/controller/datadogagent/feature/admissioncontroller/feature.go
Owners: @DataDog/container-platform

Configure Github workflow and job level permissions
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/pr-linter.yml
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

Update the default `(cluster-)agent` version to `7.59.0`
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

added pdb testing
  internal/controller/datadogagent/controller_v2_test.go
Owners: @DataDog/container-ecosystems

fix update-golang diff failure
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

restrict packages permission in workflows
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

update config doc
  docs/configuration.v2alpha1.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Add stabilization window to scaling policy autoscaling CRD
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
  config/crd/bases/v1beta1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

fixup! Add stabilization window to scaling policy autoscaling CRD
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

Update the default `(cluster-)agent` version to `7.59.0` (#1517)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

Reorder fields alphabetically
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

Add validation for stabilization window
  api/datadoghq/v1alpha1/datadogpodautoscaler_types.go
Owners: @DataDog/container-ecosystems

Generate DPA CRD files
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

release v1.10.0
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

Fix unit test
  internal/controller/datadogagent/feature/livecontainer/feature_test.go
Owners: @DataDog/container-ecosystems

Replace option with global spec
  api/datadoghq/common/zz_generated.deepcopy.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogdashboards.yaml
  config/crd/bases/v1/datadoghq.com_datadogmetrics.yaml
  config/crd/bases/v1/datadoghq.com_datadogmonitors.yaml
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1/datadoghq.com_datadogslos.yaml
  config/rbac/role.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/apm/feature.go
  internal/controller/datadogagent/feature/apm/feature_test.go
  internal/controller/datadogagent/feature/livecontainer/feature.go
  internal/controller/datadogagent/feature/livecontainer/feature_test.go
  internal/controller/datadogagent/feature/liveprocess/feature.go
  internal/controller/datadogagent/feature/liveprocess/feature_test.go
  internal/controller/datadogagent/feature/processdiscovery/feature.go
  internal/controller/datadogagent/feature/processdiscovery/feature_test.go
  internal/controller/datadogagent/feature/types.go
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

doc updates
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

release v1.10.0 (#1520)
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

fixup! Generate DPA CRD files
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogpodautoscalers.yaml
Owners: @DataDog/container-ecosystems

Configure Github workflow and job level permissions (#1516)
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  .github/workflows/pr-linter.yml
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

remove pdb logging
  internal/controller/datadogagent/override/dependencies.go
Owners: @DataDog/container-ecosystems

create Pod Disruption Budget for DCA and CCR deployments (#1454)
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/component/clusteragent/default.go
  internal/controller/datadogagent/component/clusteragent/default_test.go
  internal/controller/datadogagent/component/clusteragent/utils.go
  internal/controller/datadogagent/component/clusterchecksrunner/default.go
  internal/controller/datadogagent/component/clusterchecksrunner/default_test.go
  internal/controller/datadogagent/controller_reconcile_v2.go
  internal/controller/datadogagent/controller_v2_test.go
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/override/dependencies.go
  internal/controller/datadogagent/override/dependencies_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

enhancement: add experimental support for Agent Data Plane
  api/datadoghq/common/types.go
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  api/datadoghq/v2alpha1/const.go
  api/datadoghq/v2alpha1/utils.go
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/feature/dogstatsd/feature.go
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/test/factory_test.go
  internal/controller/datadogagent/feature/utils/utils.go
  internal/controller/datadogagent/merger/utils.go
Owners: @DataDog/container-ecosystems

undo unintentional codegen'd API stuff
  api/datadoghq/v1alpha1/zz_generated.openapi.go
Owners: @DataDog/container-ecosystems

Fixed generated code
  api/datadoghq/v2alpha1/zz_generated.openapi.go
Owners: @DataDog/container-ecosystems

make build
  api/datadoghq/common/zz_generated.deepcopy.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogdashboards.yaml
  config/crd/bases/v1/datadoghq.com_datadogmetrics.yaml
  config/crd/bases/v1/datadoghq.com_datadogmonitors.yaml
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1/datadoghq.com_datadogslos.yaml
  config/rbac/role.yaml
Owners: @DataDog/container-ecosystems

[tooling][gitlab] automatically trigger release candidate workflow
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

[tooling][gitlab] automatically trigger release candidate workflow (#1521)
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

fix licenses
  LICENSE-3rdparty.csv
Owners: @DataDog/container-ecosystems

service discovery: Add operator support (#1449)
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_default_test.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  api/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  examples/datadogagent/datadog-agent-all.yaml
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/feature/ids.go
  internal/controller/datadogagent/feature/servicediscovery/feature.go
  internal/controller/datadogagent/feature/servicediscovery/feature_test.go
  internal/controller/datadogagent_controller_test.go
  internal/controller/testutils/agent.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

small tweaks to align with ADP
  api/datadoghq/v2alpha1/const.go
  api/datadoghq/v2alpha1/utils.go
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

move processing of labels and annotations as tags
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/enabledefault/rbac.go
  internal/controller/datadogagent/feature/enabledefault/rbac_test.go
  internal/controller/datadogagent/override/global.go
  internal/controller/datadogagent/override/rbac.go
Owners: @DataDog/container-ecosystems

test new pr linter
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

adjust license file
  LICENSE-3rdparty.csv
Owners: @DataDog/container-ecosystems

enhancement: add experimental support for Agent Data Plane (#1518)
  api/datadoghq/common/types.go
  api/datadoghq/v2alpha1/const.go
  api/datadoghq/v2alpha1/utils.go
  internal/controller/datadogagent/component/agent/default.go
  internal/controller/datadogagent/feature/dogstatsd/feature.go
  internal/controller/datadogagent/feature/enabledefault/feature.go
  internal/controller/datadogagent/feature/test/factory_test.go
  internal/controller/datadogagent/feature/utils/utils.go
  internal/controller/datadogagent/merger/utils.go
Owners: @DataDog/container-ecosystems

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations
