Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

bump golangci-lint timeout to 10m (#1494) (#1496)
  .golangci.toml
Owners: @DataDog/container-ecosystems

Change datadog_agent_cr_name to datadogagent_cr_name
  internal/controller/datadogagent/feature/enabledefault/const.go
Owners: @DataDog/container-ecosystems

Remove container all from description
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

Remove container all from description (#1497)
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

pt1, verify http_check in agent pods
  test/e2e/kind_test.go
  test/e2e/manifests/autodiscovery-annotation.yaml
  test/e2e/manifests/autodiscovery.yaml
Owners: @DataDog/container-ecosystems

verify http check in metrics
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

check the value of metric
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

Bump agent and cluster-agent image version to 7.58.2
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

use gorelease version 2
  .goreleaser.yml
Owners: @DataDog/container-ecosystems

use gorelease version 2
  .goreleaser-for-darwin.yaml
  .goreleaser-for-linux.yaml
  .goreleaser-for-windows.yaml
Owners: @DataDog/container-ecosystems

update generate docs script and generated doc file
  docs/configuration.v2alpha1.md
  hack/generate-docs.go
  hack/generate-docs/updated_descriptions.json
Owners: @DataDog/documentation, @DataDog/container-ecosystems

pin goreleaser v2.4.1
  .github/workflows/build.yml
Owners: @DataDog/container-ecosystems

Pin goreleaser v2.4.1 (#1500)
  .github/workflows/build.yml
  .goreleaser-for-darwin.yaml
  .goreleaser-for-linux.yaml
  .goreleaser-for-windows.yaml
  .goreleaser.yml
Owners: @DataDog/container-ecosystems

Bump agent and cluster-agent image version to 7.58.2 (#1499)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

Pin goreleaser v2.4.1 (#1500)
  .github/workflows/build.yml
  .goreleaser-for-darwin.yaml
  .goreleaser-for-linux.yaml
  .goreleaser-for-windows.yaml
  .goreleaser.yml
Owners: @DataDog/container-ecosystems

update descriptions json, update a couple literal docs
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  hack/generate-docs.go
  hack/generate-docs/updated_descriptions.json
Owners: @DataDog/container-ecosystems, @DataDog/documentation

Bump agent and cluster-agent image version to 7.58.2 (#1499)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

Pin goreleaser v2.4.1 (#1500) (#1501)
  .github/workflows/build.yml
  .goreleaser-for-darwin.yaml
  .goreleaser-for-linux.yaml
  .goreleaser-for-windows.yaml
  .goreleaser.yml
Owners: @DataDog/container-ecosystems

Bump agent and cluster-agent image version to 7.58.2 (#1499) (#1502)
  pkg/defaulting/images.go
Owners: @DataDog/container-ecosystems

checkpoint 1
  cmd/main.go
  config/manager/manager.yaml
  dap.yml
  default.yaml
  internal/controller/datadogagent/controller.go
  internal/controller/datadogagent/controller_reconcile_agent.go
  internal/controller/datadogagent/controller_reconcile_v2.go
  internal/controller/datadogagentprofile/controller.go
  internal/controller/datadogagentprofile_controller.go
  internal/controller/setup.go
  pkg/agentprofile/agent_profile.go
Owners: @DataDog/container-ecosystems

release v1.10.0-rc.3
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

[Orch] Set CRDs in cases of revoking config
  pkg/remoteconfig/orchestrator_k8s_crd.go
Owners: @DataDog/container-ecosystems

pin goreleaser v2.4.1 for release workflow
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

Update openshift preflight version (#1460)
  Makefile
Owners: @DataDog/container-ecosystems

Update openshift preflight version (#1460)
  Makefile
Owners: @DataDog/container-ecosystems

pin goreleaser v2.4.1 for release workflow (#1506)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

pin goreleaser v2.4.1 for release workflow (#1506)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

Update openshift preflight version (#1460) (#1507)
  Makefile
Owners: @DataDog/container-ecosystems

Use same instance label value for network policies
  internal/controller/datadogagent/component/objects/network.go
Owners: @DataDog/container-ecosystems

pin goreleaser v2.4.1 for release workflow (#1506) (#1508)
  .github/workflows/release.yaml
Owners: @DataDog/container-ecosystems

[Orch] Set CRDs in cases of revoking config (#1505)
  pkg/remoteconfig/orchestrator_k8s_crd.go
Owners: @DataDog/container-ecosystems

[Orch] Set CRDs in cases of revoking config (#1505)
  pkg/remoteconfig/orchestrator_k8s_crd.go
Owners: @DataDog/container-ecosystems

[Orch] Set CRDs in cases of revoking config (#1505) (#1510)
  pkg/remoteconfig/orchestrator_k8s_crd.go
Owners: @DataDog/container-ecosystems

release v1.10.0-rc.3
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadoghq.com_datadogagentprofiles.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  bundle/manifests/datadoghq.com_datadogdashboards.yaml
  bundle/manifests/datadoghq.com_datadogmetrics.yaml
  bundle/manifests/datadoghq.com_datadogmonitors.yaml
  bundle/manifests/datadoghq.com_datadogpodautoscalers.yaml
  bundle/manifests/datadoghq.com_datadogslos.yaml
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles.yaml
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1/datadoghq.com_datadogdashboards.yaml
  config/crd/bases/v1/datadoghq.com_datadogmetrics.yaml
  config/crd/bases/v1/datadoghq.com_datadogmonitors.yaml
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers.yaml
  config/crd/bases/v1/datadoghq.com_datadogslos.yaml
  config/manager/kustomization.yaml
  config/rbac/role.yaml
Owners: @DataDog/container-ecosystems

update logs test yaml file
  test/e2e/manifests/datadog-agent-logs.yaml
Owners: @DataDog/container-ecosystems

remove non-annotated nginx deployment
  test/e2e/kind_test.go
  test/e2e/manifests/autodiscovery.yaml
Owners: @DataDog/container-ecosystems

uncomment e2e tests
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

release v1.10.0-rc.4
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

update generate-docs script (#1503)
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  go.mod
  hack/generate-docs.go
  hack/generate-docs/updated_descriptions.json
Owners: @DataDog/container-ecosystems, @DataDog/documentation

updated test
  test/e2e/kind_test.go
Owners: @DataDog/container-ecosystems

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations
