Repository DataDog/datadog-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-ecosystems, @DataDog/container-platform, @DataDog/documentation, @DataDog/container-integrations

Test conductor for custom image
  .gitlab-ci.yml
  service.datadog.yaml
Owners: @DataDog/container-ecosystems

fix permission
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

Add schedule
  service.datadog.yaml
Owners: @DataDog/container-ecosystems

Revert "test new pr linter"
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

fix from review
  internal/controller/datadogagent/feature/enabledefault/feature.go
Owners: @DataDog/container-ecosystems

fix test and add test case
  pkg/controller/utils/datadog/metrics_forwarder.go
  pkg/controller/utils/datadog/metrics_forwarder_test.go
Owners: @DataDog/container-ecosystems

fix typo
  .gitlab-ci.yml
Owners: @DataDog/container-ecosystems

change cron
  service.datadog.yaml
Owners: @DataDog/container-ecosystems

small doc fix
  docs/how-to-contribute.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

small doc fix (#1524)
  docs/how-to-contribute.md
Owners: @DataDog/documentation, @DataDog/container-ecosystems

Fix pr linter permission
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

disable pr linter PR review
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

move community-operators patch
  hack/patch-bundle.sh
  hack/publish-community-bundles.sh
  hack/redhat-bundle.sh
Owners: @DataDog/container-ecosystems

fix bundle name for rh-certified PRs
  hack/publish-community-bundles.sh
Owners: @DataDog/container-ecosystems

update bundle and manager config from v1.10
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

working browser tests and notebooks
  api/datadoghq/v1alpha1/datadoggenericcrd_types.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  cmd/main.go
  config/crd/bases/v1/datadoghq.com_datadoggenericcrds.yaml
  config/manager/kustomization.yaml
  config/rbac/role.yaml
  internal/controller/datadoggenericcrd/api_utils.go
  internal/controller/datadoggenericcrd/controller.go
  internal/controller/datadoggenericcrd/finalizer.go
  internal/controller/datadoggenericcrd/notebooks.go
  internal/controller/datadoggenericcrd/synthetics.go
  internal/controller/datadoggenericcrd_controller.go
  internal/controller/setup.go
  pkg/datadogclient/client.go
Owners: @DataDog/container-ecosystems

add write permission for content and PRs
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

update bundle and manager config from v1.10 (#1528)
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  config/manager/kustomization.yaml
Owners: @DataDog/container-ecosystems

pin action version
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

remove action from cache
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

change how workflow is run
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

cleanup
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

Fix pr-linter workflow (#1531)
  .github/workflows/pr-linter.yml
Owners: @DataDog/container-ecosystems

Checks tag cardinality and tests (#1309)
  api/datadoghq/common/envvar.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
  internal/controller/datadogagent/override/global.go
  internal/controller/datadogagent/override/global_test.go
Owners: @DataDog/container-ecosystems, @DataDog/documentation

clean up a bit
  .devcontainer/devcontainer.json
  internal/controller/datadoggenericcrd/api_utils.go
  internal/controller/datadoggenericcrd/controller.go
  internal/controller/datadoggenericcrd/finalizer.go
  internal/controller/datadoggenericcrd/utils.go
Owners: @DataDog/container-ecosystems, @DataDog/container-platform

Use helper function
  internal/controller/datadoggenericcrd/utils.go
Owners: @DataDog/container-ecosystems

Start refactoring - not tested yet
  api/datadoghq/v1alpha1/datadoggenericcrd_types.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  cmd/main.go
  config/crd/bases/v1/datadoghq.com_datadoggenericcrs.yaml
  config/rbac/role.yaml
  internal/controller/datadoggenericcrd/controller.go
  internal/controller/datadoggenericcrd/finalizer.go
  internal/controller/datadoggenericcrd/notebooks.go
  internal/controller/datadoggenericcrd/synthetics.go
  internal/controller/datadoggenericcrd/utils.go
  internal/controller/datadoggenericcrd_controller.go
Owners: @DataDog/container-ecosystems

spec -> jsonSpec refactor
  api/datadoghq/v1alpha1/datadoggenericcrd_types.go
  api/datadoghq/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadoggenericcrs.yaml
Owners: @DataDog/container-ecosystems

fix: include ADP container in certain pod-wide volume mount overrides
  internal/controller/datadogagent/override/global.go
Owners: @DataDog/container-ecosystems

woops, missed a spot
  internal/controller/datadogagent/override/global.go
Owners: @DataDog/container-ecosystems

Add autodiscovery e2e test (#1498)
  test/e2e/kind_test.go
  test/e2e/manifests/autodiscovery-annotation.yaml
Owners: @DataDog/container-ecosystems

Update option name to RunProcessChecksInCoreAgent
  api/datadoghq/v2alpha1/datadogagent_default.go
  api/datadoghq/v2alpha1/datadogagent_types.go
  api/datadoghq/v2alpha1/test/builder.go
  api/datadoghq/v2alpha1/zz_generated.deepcopy.go
  internal/controller/datadogagent/feature/apm/feature.go
  internal/controller/datadogagent/feature/livecontainer/feature.go
  internal/controller/datadogagent/feature/liveprocess/feature.go
  internal/controller/datadogagent/feature/processdiscovery/feature.go
Owners: @DataDog/container-ecosystems

Update docs
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

fix: specify 'run' subcommand to ADP binary
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

fix: include ADP container in certain pod-wide volume mount overrides (#1532)
  internal/controller/datadogagent/override/global.go
Owners: @DataDog/container-ecosystems

Add JSON Schema generation for V1 CRDs
  Makefile
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogdashboards_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogmetrics_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogmonitors_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogslos_v1alpha1.json
  hack/generate-docs/generate-docs.go
  hack/jsonschema/openapi2jsonschema.go
  hack/patch-crds.sh
Owners: @DataDog/container-ecosystems

fix: specify 'run' subcommand to ADP binary (#1533)
  internal/controller/datadogagent/component/agent/default.go
Owners: @DataDog/container-ecosystems

Add JSON Schema generation for V1 CRDs (#1148)
  Makefile
  config/crd/bases/v1/datadoghq.com_datadogagentprofiles_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogagents_v2alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogdashboards_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogmetrics_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogmonitors_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogpodautoscalers_v1alpha1.json
  config/crd/bases/v1/datadoghq.com_datadogslos_v1alpha1.json
  hack/generate-docs/generate-docs.go
  hack/jsonschema/openapi2jsonschema.go
  hack/patch-crds.sh
Owners: @DataDog/container-ecosystems

update docs
  api/datadoghq/v2alpha1/datadogagent_types.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Owners: @DataDog/container-ecosystems, @DataDog/documentation

refactor & validation - working version (browser, notebook)
  api/datadoghq/v1alpha1/datadoggenericcr_types.go
  api/datadoghq/v1alpha1/datadoggenericcr_validation.go
  api/datadoghq/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  internal/controller/datadoggenericcr/controller.go
  internal/controller/datadoggenericcr/finalizer.go
  internal/controller/datadoggenericcr/notebooks.go
  internal/controller/datadoggenericcr/synthetics.go
  internal/controller/datadoggenericcr/utils.go
  internal/controller/datadoggenericcrd_controller.go
  internal/controller/setup.go
Owners: @DataDog/container-ecosystems

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                   @DataDog/container-ecosystems

# Dev Container
/.devcontainer          @DataDog/container-ecosystems @DataDog/container-platform

# Documentation
README.md             @DataDog/documentation @DataDog/container-ecosystems
/docs/                @DataDog/documentation @DataDog/container-ecosystems


# Features owners
/internal/controller/datadogagent/feature/admissioncontroller/*    @DataDog/container-platform
/internal/controller/datadogagent/feature/prometheusscrape/*       @DataDog/container-platform
/internal/controller/datadogagent/feature/clusterchecks/*          @DataDog/container-platform
/internal/controller/datadogagent/feature/kubernetesstatecore/*    @DataDog/container-integrations
/internal/controller/datadogagent/feature/helmcheck/*              @DataDog/container-integrations
