Repository DataDog/datadog-operator, pull requests merged in 2020-04, with the labels that each got.

#62 Improve description in OML file
  deploy/crds/datadoghq.com_datadogagents_crd.yaml
  deploy/olm-catalog/datadog-operator/0.1.3/datadog-operator.v0.1.3.clusterserviceversion.yaml
  deploy/olm-catalog/datadog-operator/0.1.3/datadoghq.com_datadogagents_crd.yaml
  deploy/operator.yaml
  hack/generate-olm-bundle.sh
  pkg/apis/datadoghq/v1alpha1/datadogagent_types.go
  pkg/apis/datadoghq/v1alpha1/zz_generated.openapi.go
Labels: component/controller

#64 Fix CLC config
  deploy/crds/datadoghq.com_datadogagents_crd.yaml
  pkg/apis/datadoghq/v1alpha1/const.go
  pkg/apis/datadoghq/v1alpha1/datadogagent_default.go
  pkg/apis/datadoghq/v1alpha1/datadogagent_types.go
  pkg/apis/datadoghq/v1alpha1/test/new.go
  pkg/apis/datadoghq/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/datadoghq/v1alpha1/zz_generated.openapi.go
  pkg/controller/datadogagent/agent_test.go
  pkg/controller/datadogagent/clusteragent.go
  pkg/controller/datadogagent/clusterchecksrunner.go
  pkg/controller/datadogagent/clusterchecksrunner_test.go
  pkg/controller/datadogagent/datadogagent_controller_test.go
  pkg/controller/datadogagent/utils.go
  test/e2e/datadogagent_test.go
Labels: component/controller, enhancement

#69 Fix kubelet rbacs
  pkg/apis/datadoghq/v1alpha1/const.go
  pkg/controller/datadogagent/clusteragent.go
Labels: bug, component/controller

#70 Fix clc runner field
  examples/datadog-agent-with-dca-clusterchecksrunner.yaml
Labels: documentation

#75 Fix panics
  pkg/apis/datadoghq/v1alpha1/datadogagent_default.go
  pkg/controller/datadogagent/agent.go
  pkg/controller/datadogagent/clusteragent.go
  pkg/controller/datadogagent/clusteragent_test.go
Labels: bug, component/controller

#76 Align resource names
  docs/cluster_agent_setup.md
  docs/custom_check.md
  docs/getting_started.md
  examples/datadog-agent-all.yaml
  examples/datadog-agent-with-clusteragent.yaml
  examples/datadog-agent-with-dca-clusterchecksrunner.yaml
  examples/datadog-agent-with-tolerations.yaml
  examples/datadog-agent.yaml
  pkg/controller/datadogagent/agent.go
  pkg/controller/datadogagent/agent_test.go
  pkg/controller/datadogagent/clusteragent.go
  pkg/controller/datadogagent/clusteragent_test.go
  pkg/controller/datadogagent/clusterchecksrunner_test.go
  pkg/controller/datadogagent/datadogagent_controller.go
  pkg/controller/datadogagent/datadogagent_controller_test.go
  test/e2e/datadogagent_test.go
Labels: component/controller, documentation
