Repository DataDog/datadog-operator, pull requests merged in 2021-02, with the labels that each got.

#216 Fix automatic triggering of publishing jobs on tags
  .gitlab-ci.yml
Labels: bug

#217 Fix ServiceAccountName override
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusterchecksrunner_rbac.go
Labels: bug, component/controller

#218 Fix cluster role binding update
  controllers/datadogagent/agent_rbac.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusterchecksrunner_rbac.go
  controllers/suite_test.go
Labels: bug

#221 Add custom config in securty-agent container
  controllers/datadogagent/utils.go
  controllers/datadogagent/utils_test.go
  controllers/testutils/new.go
Labels: bug

#222 Fix SA creation with make deploy
  config/rbac/kustomization.yaml
  config/rbac/service_account.yaml
Labels: bug

#223 [Fix][OrchExplorer] Allow the process agent to connect to the DCA
  controllers/datadogagent/agent_test.go
  controllers/datadogagent/utils.go
Labels: bug, component/controller

#224 Fix duplicate paths for UDS Sockets
  api/v1alpha1/const.go
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/utils.go
Labels: bug

#219 Grant access to the Lease objects
  controllers/datadogagent/clusteragent.go
Labels: component/controller, enhancement

#230 move the clusterName to common for every agent instead, if set
  controllers/datadogagent/agent_test.go
  controllers/datadogagent/utils.go
Labels: bug, component/controller

#228 Generate CRD documentation automatically
  Makefile
  docs/configuration.md
  go.mod
  hack/generate-docs.go
  hack/generate-docs/footer.markdown
  hack/generate-docs/header.markdown
Labels: enhancement

#233 Add support for custom API/APP keys in operator (requires DCA >= 1.11)
  api/v1alpha1/const.go
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/test/new.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusteragent_test.go
  controllers/datadogagent/secret.go
  controllers/datadogagent/secret_agent.go
  controllers/datadogagent/secret_clusteragent.go
  controllers/datadogagent/secret_test.go
  controllers/datadogagent/utils.go
  controllers/testutils/new.go
  pkg/controller/utils/datadog/metrics_forwarder.go
  pkg/controller/utils/datadog/metrics_forwarder_test.go
  pkg/controller/utils/shared_utils.go
Labels: enhancement

#235 Default ClusterChecksRunner if ClusterChecksEnabled == true
  api/v1alpha1/datadogagent_default.go
Labels: bug, component/controller

#236 Support Prometheus Scrape configuration
  api/v1alpha1/const.go
  api/v1alpha1/datadogagent_default.go
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/test/new.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/agent.go
  controllers/datadogagent/agent_test.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusteragent_test.go
  controllers/datadogagent/utils.go
  controllers/datadogagent/utils_test.go
  docs/configuration.md
  examples/datadog-agent-with-prometheus-autodiscovery-advanced-config.yaml
  examples/datadog-agent-with-prometheus-autodiscovery.yaml
Labels: component/controller, enhancement

#239 Improve UDS sockets fix - keep backward compatibility
  api/v1alpha1/datadogagent_default.go
  api/v1alpha1/datadogagent_default_test.go
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/utils.go
Labels: bug

#234 Allow custom VolumeMounts for all agent containers
  Makefile
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/test/new.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/utils.go
  controllers/datadogagent/utils_test.go
  controllers/testutils/new.go
  docs/configuration.md
Labels: component/controller, enhancement

#240 Support dsd mapping profiles config
  api/v1alpha1/const.go
  api/v1alpha1/datadogagent_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  controllers/datadogagent/utils.go
  controllers/datadogagent/utils_test.go
  docs/configuration.md
Labels: component/controller, enhancement

#245 [DatadogMonitor] Refactor creds management and support SB
  config/manager/manager.yaml
  controllers/setup.go
  controllers/suite_test.go
  main.go
  pkg/config/creds.go
  pkg/config/creds_test.go
  pkg/controller/utils/datadog/metrics_forwarder_test.go
  pkg/datadogclient/client.go
  pkg/secrets/types.go
Labels: component/controller, enhancement

#246 Add missing NET_RAW Cap for CVE-2020-14386 mitigation
  controllers/datadogagent/agent_test.go
  controllers/datadogagent/utils.go
Labels: bug, component/controller

#247 Fix unwanted Resources deletion
  controllers/datadogagent/common_configmap.go
  controllers/datadogagent/common_networkpolicy.go
  controllers/datadogagent/common_rbac.go
  controllers/datadogagent/controller_test.go
  controllers/datadogagent/poddisruptionbudget.go
  controllers/datadogagent/secret.go
  controllers/datadogagent/service.go
  controllers/datadogagent/utils.go
Labels: bug, component/controller
