Repository DataDog/datadog-operator, pull requests merged in 2022-05, with the labels that each got.

#430 migration KSMCore to feature pattern
  apis/datadoghq/common/v1/types.go
  apis/datadoghq/v1alpha1/const.go
  apis/datadoghq/v1alpha1/datadogagent_conversion.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_agent.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_ccr.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_dca.go
  apis/datadoghq/v1alpha1/datadogagent_default.go
  apis/datadoghq/v2alpha1/datadogagent_types.go
  apis/datadoghq/v2alpha1/zz_generated.deepcopy.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusteragent_test.go
  controllers/datadogagent/clusterchecksrunner_rbac.go
  controllers/datadogagent/common/const.go
  controllers/datadogagent/common_rbac.go
  controllers/datadogagent/const.go
  controllers/datadogagent/controller.go
  controllers/datadogagent/dependencies/store.go
  controllers/datadogagent/dependencies/store_test.go
  controllers/datadogagent/feature/dummy/feature.go
  controllers/datadogagent/feature/factory.go
  controllers/datadogagent/feature/fake/PodTemplateManagers.go
  controllers/datadogagent/feature/kubernetesstatecore/configmap.go
  controllers/datadogagent/feature/kubernetesstatecore/configmap_test.go
  controllers/datadogagent/feature/kubernetesstatecore/const.go
  controllers/datadogagent/feature/kubernetesstatecore/feature.go
  controllers/datadogagent/feature/kubernetesstatecore/feature_test.go
  controllers/datadogagent/feature/kubernetesstatecore/rbac.go
  controllers/datadogagent/feature/test/testsuite.go
  controllers/datadogagent/feature/types.go
  controllers/datadogagent/feature/types_test.go
  controllers/datadogagent/kubestatemetrics.go
  controllers/datadogagent/kubestatemetrics_test.go
  controllers/datadogagent/merger/envvars.go
  controllers/datadogagent/merger/fake/EnvVarManager.go
  controllers/datadogagent/merger/fake/VolumeManager.go
  controllers/datadogagent/merger/fake/const.go
  controllers/datadogagent/merger/volume.go
Labels: component/controller, refactoring

#480 Default Agent version to 7.35.2
  pkg/defaulting/images.go
Labels: enhancement, component/controller

#477 add DatadogAgent v2alpha1 defaulting code
  apis/datadoghq/v1alpha1/datadogagent_conversion_agent.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_dca.go
  apis/datadoghq/v2alpha1/datadogagent_default.go
  apis/datadoghq/v2alpha1/datadogagent_default_test.go
  apis/datadoghq/v2alpha1/datadogagent_types.go
  apis/datadoghq/v2alpha1/zz_generated.deepcopy.go
  apis/datadoghq/v2alpha1/zz_generated.openapi.go
  apis/utils/utils.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
  config/crd/bases/v1beta1/datadoghq.com_datadogagents.yaml
  docs/configuration.v2alpha1.md
Labels: enhancement, component/controller

#489 [features] migrate tcp queue length feature
  apis/datadoghq/common/envvar.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/feature/tcp_queue_length/feature.go
  controllers/datadogagent/feature/tcp_queue_length/feature_test.go
Labels: enhancement, component/controller

#481 [features] migrate npm feature
  apis/datadoghq/common/const.go
  apis/datadoghq/common/envvar.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/feature/npm/feature.go
  controllers/datadogagent/feature/npm/feature_test.go
  controllers/datadogagent/merger/fake/VolumeManager.go
  controllers/datadogagent/merger/volume.go
Labels: enhancement, component/controller

#484 [features] Migrate LogCollection feature
  apis/datadoghq/common/const.go
  apis/datadoghq/common/envvar.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/feature/logcollection/feature.go
  controllers/datadogagent/feature/logcollection/feature_test.go
  controllers/datadogagent/feature/npm/feature.go
  controllers/datadogagent/feature/oom_kill/feature.go
  controllers/datadogagent/feature/tcp_queue_length/feature.go
  controllers/datadogagent/object/volume/volumes.go
Labels: enhancement, component/controller

#490 [features] migrate prometheus scrape feature
  apis/datadoghq/common/envvar.go
  apis/utils/utils.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/feature/prometheus_scrape/feature.go
  controllers/datadogagent/feature/prometheus_scrape/feature_test.go
Labels: enhancement, component/controller

#494 Pull v0.8 to main
  bundle-redhat/manifests/datadog-operator.clusterserviceversion.yaml
  bundle-redhat/manifests/datadoghq.com_datadogagents.yaml
  bundle/manifests/datadog-operator.clusterserviceversion.yaml
  bundle/manifests/datadoghq.com_datadogagents.yaml
  config/manager/kustomization.yaml
Labels: enhancement

#497 register missing features
  controllers/datadogagent/controller.go
Labels: enhancement

#496 fix(ksm-core): set CLC Runner enabled properly
  apis/datadoghq/common/envvar.go
  controllers/datadogagent/feature/kubernetesstatecore/feature.go
Labels: bug, component/controller

#492 [features] migrate CSPM feature
  LICENSE-3rdparty.csv
  apis/datadoghq/common/const.go
  apis/datadoghq/common/envvar.go
  apis/datadoghq/v1alpha1/datadogagent_conversion.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_agent.go
  apis/datadoghq/v1alpha1/datadogagent_conversion_dca.go
  apis/datadoghq/v2alpha1/datadogagent_types.go
  controllers/datadogagent/controller.go
  controllers/datadogagent/feature/cspm/const.go
  controllers/datadogagent/feature/cspm/feature.go
  controllers/datadogagent/feature/cspm/feature_test.go
  controllers/datadogagent/feature/cspm/rbac.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/feature/types.go
  controllers/datadogagent/merger/pod_security.go
  controllers/datadogagent/object/volume/volumes.go
  go.mod
  go.sum
  pkg/kubernetes/const.go
  pkg/kubernetes/objects.go
  pkg/kubernetes/objectslist.go
Labels: enhancement, component/controller

#498 Feature factory interface changes
  controllers/datadogagent/controller.go
  controllers/datadogagent/controller_reconcile_v2.go
  controllers/datadogagent/feature/cspm/feature.go
  controllers/datadogagent/feature/dummy/feature.go
  controllers/datadogagent/feature/enabledefault/feature.go
  controllers/datadogagent/feature/kubernetesstatecore/configmap_test.go
  controllers/datadogagent/feature/kubernetesstatecore/feature.go
  controllers/datadogagent/feature/logcollection/feature.go
  controllers/datadogagent/feature/npm/feature.go
  controllers/datadogagent/feature/oom_kill/feature.go
  controllers/datadogagent/feature/prometheus_scrape/feature.go
  controllers/datadogagent/feature/tcp_queue_length/feature.go
  controllers/datadogagent/feature/test/testsuite.go
  controllers/datadogagent/feature/types.go
  controllers/datadogagent/feature/usm/feature.go
Labels: enhancement, component/controller

#502 uniformly name clusterchecksrunner
  apis/datadoghq/v1alpha1/datadogagent_default.go
  apis/datadoghq/v1alpha1/datadogagent_default_test.go
  apis/datadoghq/v2alpha1/const.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusterchecksrunner_rbac.go
  controllers/datadogagent/common/const.go
  controllers/datadogagent/common_rbac.go
  controllers/datadogagent/component/clusterchecksrunner/default.go
  controllers/datadogagent/component/utils.go
  controllers/datadogagent/controller.go
  controllers/datadogagent/controller_reconcile_agent.go
  controllers/datadogagent/controller_reconcile_ccr.go
  controllers/datadogagent/controller_reconcile_v2.go
  controllers/datadogagent/controller_test.go
  controllers/datadogagent/feature/dummy/feature.go
  controllers/datadogagent/feature/enabledefault/feature.go
  controllers/datadogagent/feature/kubernetesstatecore/feature.go
  controllers/datadogagent/feature/logcollection/feature.go
  controllers/datadogagent/feature/test/testsuite.go
  controllers/datadogagent/feature/types.go
  docs/data_collected.md
  pkg/controller/utils/datadog/metrics_forwarder.go
  pkg/controller/utils/datadog/metrics_forwarder_test.go
Labels: enhancement

#499 Introduce SecretManager
  apis/datadoghq/v1alpha1/secret.go
  controllers/datadogagent/feature/types.go
  controllers/datadogagent/merger/secret.go
  controllers/datadogagent/merger/secret_test.go
  controllers/datadogagent/secret_agent.go
  controllers/datadogagent/secret_clusteragent.go
  controllers/datadogagent/secret_test.go
Labels: component/controller, refactoring

#493 feat: add a status-check to be used for helm test
  .gitlab-ci.yml
  Makefile
  check-operator.Dockerfile
  cmd/check-operator/README.md
  cmd/check-operator/main.go
  cmd/check-operator/root/root.go
  cmd/check-operator/upgrade/upgrade.go
Labels: enhancement, component/controller

#485 Make the DCA leader election ConfigMap name depend on the DatadogAgent name
  apis/datadoghq/v1alpha1/const.go
  controllers/datadogagent/agent_test.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusteragent_test.go
  controllers/datadogagent/common/const.go
  controllers/datadogagent/common_rbac.go
  controllers/datadogagent/utils.go
  pkg/controller/utils/shared_utils.go
Labels: enhancement

#500 [feature] Migrate event collection feature
  apis/datadoghq/common/envvar.go
  apis/datadoghq/v1alpha1/utils.go
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/common/const.go
  controllers/datadogagent/common_rbac.go
  controllers/datadogagent/controller.go
  controllers/datadogagent/feature/eventcollection/const.go
  controllers/datadogagent/feature/eventcollection/feature.go
  controllers/datadogagent/feature/eventcollection/feature_test.go
  controllers/datadogagent/feature/eventcollection/rbac.go
  controllers/datadogagent/feature/ids.go
  controllers/datadogagent/utils.go
  pkg/controller/utils/shared_utils.go
Labels: enhancement, component/controller
