Repository DataDog/datadog-operator, pull requests merged in 2022-02, with the labels that each got.

#437 [controllers/datadogagent/clusteragent] Add "subjectaccessreviews" to RBAC
  apis/datadoghq/v1alpha1/const.go
  controllers/datadogagent/clusteragent.go
Labels: bug, component/controller

#439 Fix panic that happens when using the minimal recommended DDA
  apis/datadoghq/v1alpha1/datadogagent_default.go
  apis/datadoghq/v1alpha1/datadogagent_default_test.go
Labels: bug, component/controller

#440 [controllers/datadogagent] Add "datadogmetrics" RBACs
  config/rbac/role.yaml
  controllers/datadogagent_controller.go
Labels: bug, component/controller

#441 Fix continuous create and delete of cluster roles and bindings
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/common_rbac.go
Labels: bug, component/controller

#443 Fix error raised in the DCA when using external metrics
  controllers/datadogagent/clusteragent.go
Labels: bug, component/controller

#429 fix: DNSSelectorEndpoints definition
  apis/datadoghq/v1alpha1/datadogagent_types.go
  apis/datadoghq/v1alpha1/zz_generated.openapi.go
  apis/datadoghq/v2alpha1/datadogagent_types.go
  apis/datadoghq/v2alpha1/zz_generated.openapi.go
  config/crd/bases/v1/datadoghq.com_datadogagents.yaml
Labels: bug

#446 fix(ci): Update codecov action
  .github/codecov.yml
  .github/workflows/main.yml
  .github/workflows/pr-linter.yml
Labels: tooling

#390 Add role, role binding, cluster role, cluster role binding and service account to the generated Orchestrator ClusterRole
  apis/datadoghq/v1alpha1/const.go
  controllers/datadogagent/orchestrator.go
  controllers/datadogagent/testdata/orchestrator_clusterrole.yaml
  controllers/datadogagent_controller.go
Labels: enhancement

#444 Remove the frequent need to do `rm -rf bin` to “fix stuff”
  Makefile
  hack/install-operator-sdk.sh
  hack/install-wwhrd.sh
  hack/install-yq.sh
  hack/license.sh
  hack/patch-crds.sh
  hack/verify-license.sh
Labels: enhancement

#450 feat: (orch) support ingresses collection
  controllers/datadogagent/orchestrator.go
  controllers/datadogagent/testdata/orchestrator_clusterrole.yaml
  controllers/datadogagent_controller.go
Labels: enhancement

#447 [defaults] Fix cluster agent token autogeneration
  apis/datadoghq/v1alpha1/datadogagent_default.go
  apis/datadoghq/v1alpha1/datadogagent_default_test.go
  controllers/datadogagent/secret_agent.go
Labels: bug, component/controller

#451 [controllers/datadogagent/clusteragent] Fix "externalmetrics" cluster role binding
  controllers/datadogagent/clusteragent.go
  controllers/datadogagent/clusteragent_metricsserver.go
Labels: bug, component/controller
